body {
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    margin-top: 0;
    margin-bottom: 2px;
}

ul {
    height: 200px;
    list-style-type: none;
    padding: 0;
    font-size: 17px;
    color: black;
    margin-bottom: 30px;
}

.timeBlock {
    padding: 30px;
    margin: 0;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 190px;   
}

.records {
    background-color: white;
    height: 300px;
}