h2 {
    margin-top: 0;
}

input {
    width: 50px;
    margin-left: 10px;
}

button {
    margin-left: 15px;
    height: 30px;
    width: 60px;
    padding: 0;
}

#result {
    font-size: 50px;
    color: teal;
}

.data-fields {
    margin: auto;
    font-size: 12px;
}

.timeBlock {
    width: 300px;
}